venv
venv/

game
game/

config
config/

dist
dist/

obama.py

rudleg-egg-info/
rudleg-egg-info

plans.txt
tester.py
.gitignore



cache/
__pycache__/
game/__pycache__/

#RudlEngine
RudlEngine/RudlClasses/__pycache__/
RudlEngine/RudlCore/__pycache__/
RudlEngine/RudlFunctions/__pycache__/
RudlEngine/RudlGui/__pycache__/
RudlEngine/RudlSettings/__pycache__/


__pycache__
*.pyc
*.pyo